* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: 500;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #c0caf5;
}

/* ────────────────
   Workspaces
   ──────────────── */

#workspaces {
    margin: 4px 0 4px 7px;
    padding: 0 3px;

    background: #1a1b26;
    border-radius: 8px;
}

#workspaces button {
    padding: 0 6px;
    margin: 2px 1px;

    background: transparent;
    color: #565f89;

    border: none;
    border-radius: 6px;
}

#workspaces button.active {
    color: #1a1b26;
    background: #c0caf5;
}

#workspaces button:hover {
    color: #c0caf5;
    background: #24283b;
}

/* ────────────────
   Clock
   ──────────────── */

#clock {
    margin: 4px;
    padding: 0 12px;

    background: #1a1b26;
    color: #c0caf5;

    border-radius: 8px;
}

/* ────────────────
   Right side
   ──────────────── */

#battery,
#bluetooth,
#network,
#custom-power {
    margin: 4px 0;
    padding: 0 8px;

    background: #1a1b26;
    color: #c0caf5;
}

#battery {
    border-radius: 8px 0 0 8px;
}

#custom-power {
    margin-right: 7px;
    border-radius: 0 8px 8px 0;
}

/* ────────────────
   Hover
   ──────────────── */

#battery:hover,
#bluetooth:hover,
#network:hover,
#custom-power:hover,
#clock:hover {
    background: #24283b;
}
